td, th {	
	border:1px solid black;
	text-align: center;
	font-family: "Arial";
	font-size: 15px;
	font-weight: bold;
}
th{
	background-color: #4682B4;
	color: white;
}
td:first-child{
	width: 60px;
}

td:nth-child(2){
	width: 400px;
}
td:nth-child(3){
	width: 400px;	
}
td:nth-child(4){
	width: 80px;	
}
