/*-----------------------------------------------------------------
	#Text
------------------------------------------------------------------- */

	nav ul li.active a,
	nav ul li a:hover,
	.caption-one h1,
	.caption-one p,
	.caption-two p,
	.caption-three h2,
	.caption-three p,
	.sequence-pagination li,
	.folio h3,
	.box:hover h4,
	.overlay .caption i,
	.contactform label,
	.contactform span,
	.contact-details span,
	.copyright p a,
	.color-strong,
	.quote h2,
	#ad h2,
	.twitter-wrap a,.realce { color: #FC0; }

	.sequence-pagination li.current,
	.sequence-pagination li:hover,
	.about:hover,
	.services-box:hover,
	#filter li a:hover,
	#filter li.active a,
	.bgcolor,
	.table-name h3.promo,
	.table-button:hover,
	.color,
	.port:hover { background-color: #FC0; }

	::-moz-selection { background-color: #FC0; }
	::selection { background-color: #FC0; }

	.sequence-pagination li,
	.folio h3 { border-color: #FC0; }

/*-----------------------------------------------------------------
	#Icons
------------------------------------------------------------------- */

	.social ul li a:hover { background-color: #FC0; }


/*-----------------------------------------------------------------
	#Flex Slider
------------------------------------------------------------------- */

	.flex-control-paging li a:hover,
	.flex-control-paging li a.flex-active  { background: #FC0; }